.title {
  margin-top: 10px;
  font-size: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.form {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 85%;
}

.reset_btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
}

.btn_group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project_form {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project_form > * {
  margin: 10px;
}

.table_item {
  cursor: pointer;
}

.table_item:hover {
  color: rgb(63, 118, 176);
}

/* Styling the slider within .form class */
.form input[type="range"] {
  /* General styles for the slider */
  background-color: #ddd; /* Example: background color */
  height: 25px; /* Example: height of the slider */
  -webkit-appearance: none; /* Removes default webkit styles */
  margin: 10px 0; /* Example: margin */
  width: 100%; /* Example: full width */
}

/* Styling the thumb of the slider within .form class */
.form input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Removes default webkit styles */
  appearance: none;
  /* Custom styles for the thumb */
  width: 50px; /* Example: width of the thumb */
  height: 50px; /* Example: height of the thumb */
  background: url('./87ea354ddd3407192d9691e1ae9a42db9ff753e725b3f77c2ca95b9d1000f0eb.png') no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer; /* Example: cursor style */
  transform: translateY(-50%)

}

/* Styling the track of the slider within .form class */
.form input[type="range"]::-webkit-slider-runnable-track {
  /* Custom styles for the track */
  width: 100%; /* Example: full width */
  height: 8px; /* Example: height of the track */
  background: #333; /* Example: background color of the track */
  border-radius: 5px; /* Example: rounded corners */
}
